<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
<!-- 			<script>
				//Get the button:
mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
				</script> -->
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Github Repository</a></li>
		        	<li><a href="/dataset">Download Dataset</a></li>
<!-- 	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				 <div class="container">
	    		<ul>
<!-- 	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li> -->
<!-- 	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li> -->
				<p> Linguistic Harbingers of Betrayal</p>
				</ul>
			<nav class="nav  nav--footer">
  			<ul class="list list--nav">
     				 <li class="item  item--nav">
     	 				  <a href="">Back to top</a>
    				  </li>
 			</ul>
			</nav>
			</div><!-- /.container -->
			</footer>
		</body>
	</html>
